## Data Science Intern (Stage-A)

### Codes for graded Quiz

#### Yamini Vijaywargiya

In [20]:
# Q.1
A=[1,2,3,4,5,6]
B=[13,21,34]
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [21]:
# Q.8,Q.4
import pandas as pd
url= 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1996_12_161_3_13,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [24]:
# Q.5
print(fuel_data['fuel_qty_burned'].skew())
print(fuel_data['fuel_qty_burned'].kurt())

15.851495469109503
651.3694501337732

In [29]:
print(fuel_data.dropna())
print(fuel_data.dropna().count())
print(fuel_data.dropna().sum())
print(fuel_data.fillna("NA"))

                     record_id  utility_id_ferc1  report_year  \
0        f1_fuel_1994_12_1_0_7                 1         1994
1       f1_fuel_1994_12_1_0_10                 1         1994
2        f1_fuel_1994_12_2_0_1                 2         1994
3        f1_fuel_1994_12_2_0_7                 2         1994
4       f1_fuel_1994_12_2_0_10                 2         1994
...                        ...               ...          ...
29518  f1_fuel_2018_12_12_0_13                12         2018
29519   f1_fuel_2018_12_12_1_1                12         2018
29520  f1_fuel_2018_12_12_1_10                12         2018
29521  f1_fuel_2018_12_12_1_13                12         2018
29522  f1_fuel_2018_12_12_1_14                12         2018

           plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0                  rockport                coal       ton        5377489.0
1      rockport total plant                coal       ton       10486945.0
2                    gorgas                coal       ton        2978683.0
3                     barry                coal       ton        3739484.0
4                 chickasaw                 gas       mcf          40533.0
...                     ...                 ...       ...              ...
29518    neil simpson ct #1                 gas       mcf          18799.0
29519  cheyenne prairie 58%                 gas       mcf         806730.0
29520     lange ct facility                 gas       mcf         104554.0
29521       wygen 3 bhp 52%                coal       ton         315945.0
29522       wygen 3 bhp 52%                 gas       mcf          17853.0

       fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0                   16.590                      18.59
1                   16.592                      18.58
2                   24.130                      39.72
3                   23.950                      47.21
4                    1.000                       2.77
...                    ...                        ...
29518                1.059                       4.78
29519                1.050                       3.65
29520                1.060                       4.77
29521               16.108                       3.06
29522                1.059                       0.00

       fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                             18.53                1.121
1                             18.53                1.120
2                             38.12                1.650
3                             45.99                1.970
4                              2.77                2.570
...                             ...                  ...
29518                          4.78                9.030
29519                          3.65                6.950
29520                          4.77                8.990
29521                         14.76                1.110
29522                          0.00               11.680

[29343 rows x 11 columns]
record_id                       29343
utility_id_ferc1                29343
report_year                     29343
plant_name_ferc1                29343
fuel_type_code_pudl             29343
fuel_unit                       29343
fuel_qty_burned                 29343
fuel_mmbtu_per_unit             29343
fuel_cost_per_unit_burned       29343
fuel_cost_per_unit_delivered    29343
fuel_cost_per_mmbtu             29343
dtype: int64
record_id                       f1_fuel_1994_12_1_0_7f1_fuel_1994_12_1_0_10f1_...
utility_id_ferc1                                                          3477352
report_year                                                              58856750
plant_name_ferc1                rockportrockport total plantgorgasbarrychickas...
fuel_type_code_pudl             coalcoalcoalcoalgascoalnuclearcoalcoalcoalgasc...
fuel_unit                       tontontontonmcftonkgUtontontonmcftonmcftonbblt...
fuel_qty_burned                                                     76560895383.0
fuel_mmbtu_per_unit                                                 248754.716174
fuel_cost_per_unit_burned                                             6154887.675
fuel_cost_per_unit_delivered                                         27084594.727
fuel_cost_per_mmbtu                                                  544135.85277
dtype: object
                     record_id  utility_id_ferc1  report_year  \
0        f1_fuel_1994_12_1_0_7                 1         1994
1       f1_fuel_1994_12_1_0_10                 1         1994
2        f1_fuel_1994_12_2_0_1                 2         1994
3        f1_fuel_1994_12_2_0_7                 2         1994
4       f1_fuel_1994_12_2_0_10                 2         1994
...                        ...               ...          ...
29518  f1_fuel_2018_12_12_0_13                12         2018
29519   f1_fuel_2018_12_12_1_1                12         2018
29520  f1_fuel_2018_12_12_1_10                12         2018
29521  f1_fuel_2018_12_12_1_13                12         2018
29522  f1_fuel_2018_12_12_1_14                12         2018

           plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0                  rockport                coal       ton        5377489.0
1      rockport total plant                coal       ton       10486945.0
2                    gorgas                coal       ton        2978683.0
3                     barry                coal       ton        3739484.0
4                 chickasaw                 gas       mcf          40533.0
...                     ...                 ...       ...              ...
29518    neil simpson ct #1                 gas       mcf          18799.0
29519  cheyenne prairie 58%                 gas       mcf         806730.0
29520     lange ct facility                 gas       mcf         104554.0
29521       wygen 3 bhp 52%                coal       ton         315945.0
29522       wygen 3 bhp 52%                 gas       mcf          17853.0

       fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0                   16.590                      18.59
1                   16.592                      18.58
2                   24.130                      39.72
3                   23.950                      47.21
4                    1.000                       2.77
...                    ...                        ...
29518                1.059                       4.78
29519                1.050                       3.65
29520                1.060                       4.77
29521               16.108                       3.06
29522                1.059                       0.00

       fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                             18.53                1.121
1                             18.53                1.120
2                             38.12                1.650
3                             45.99                1.970
4                              2.77                2.570
...                             ...                  ...
29518                          4.78                9.030
29519                          3.65                6.950
29520                          4.77                8.990
29521                         14.76                1.110
29522                          0.00               11.680

[29523 rows x 11 columns]

In [72]:
# Q.10
df = pd.DataFrame(fuel_data)
print(df['fuel_cost_per_unit_delivered'].idxmax())
print(df.iloc[3564])

3564
record_id                       f1_fuel_1997_12_9_0_8
utility_id_ferc1                                    9
report_year                                      1997
plant_name_ferc1                         peach bt 2&3
fuel_type_code_pudl                           nuclear
fuel_unit                                      gramsU
fuel_qty_burned                              210474.0
fuel_mmbtu_per_unit                          0.000065
fuel_cost_per_unit_burned                      37.847
fuel_cost_per_unit_delivered                7964521.0
fuel_cost_per_mmbtu                             0.578
Name: 3564, dtype: object

In [79]:
# Q.6
y=df.dropna().count()
x= df.count()
print(y)
print(x)
Rows_missing= x-y
print(Rows_missing)
percentage= (y/x)*100
print(percentage)
print(df.isnull().sum())
print(df.isnull().sum().sum())

record_id                       29343
utility_id_ferc1                29343
report_year                     29343
plant_name_ferc1                29343
fuel_type_code_pudl             29343
fuel_unit                       29343
fuel_qty_burned                 29343
fuel_mmbtu_per_unit             29343
fuel_cost_per_unit_burned       29343
fuel_cost_per_unit_delivered    29343
fuel_cost_per_mmbtu             29343
dtype: int64
record_id                       29523
utility_id_ferc1                29523
report_year                     29523
plant_name_ferc1                29523
fuel_type_code_pudl             29523
fuel_unit                       29343
fuel_qty_burned                 29523
fuel_mmbtu_per_unit             29523
fuel_cost_per_unit_burned       29523
fuel_cost_per_unit_delivered    29523
fuel_cost_per_mmbtu             29523
dtype: int64
record_id                       180
utility_id_ferc1                180
report_year                     180
plant_name_ferc1                180
fuel_type_code_pudl             180
fuel_unit                         0
fuel_qty_burned                 180
fuel_mmbtu_per_unit             180
fuel_cost_per_unit_burned       180
fuel_cost_per_unit_delivered    180
fuel_cost_per_mmbtu             180
dtype: int64
record_id                        99.390306
utility_id_ferc1                 99.390306
report_year                      99.390306
plant_name_ferc1                 99.390306
fuel_type_code_pudl              99.390306
fuel_unit                       100.000000
fuel_qty_burned                  99.390306
fuel_mmbtu_per_unit              99.390306
fuel_cost_per_unit_burned        99.390306
fuel_cost_per_unit_delivered     99.390306
fuel_cost_per_mmbtu              99.390306
dtype: float64
record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64
180

In [101]:
# Q.3
print(df)
print(df.groupby('fuel_type_code_pudl')['fuel_type_code_pudl'].count())
print(df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned','fuel_type_code_pudl'].count())
print(df['fuel_cost_per_unit_burned'].idxmin())
print(df.iloc[7733])

                     record_id  utility_id_ferc1  report_year  \
0        f1_fuel_1994_12_1_0_7                 1         1994
1       f1_fuel_1994_12_1_0_10                 1         1994
2        f1_fuel_1994_12_2_0_1                 2         1994
3        f1_fuel_1994_12_2_0_7                 2         1994
4       f1_fuel_1994_12_2_0_10                 2         1994
...                        ...               ...          ...
29518  f1_fuel_2018_12_12_0_13                12         2018
29519   f1_fuel_2018_12_12_1_1                12         2018
29520  f1_fuel_2018_12_12_1_10                12         2018
29521  f1_fuel_2018_12_12_1_13                12         2018
29522  f1_fuel_2018_12_12_1_14                12         2018

           plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0                  rockport                coal       ton        5377489.0
1      rockport total plant                coal       ton       10486945.0
2                    gorgas                coal       ton        2978683.0
3                     barry                coal       ton        3739484.0
4                 chickasaw                 gas       mcf          40533.0
...                     ...                 ...       ...              ...
29518    neil simpson ct #1                 gas       mcf          18799.0
29519  cheyenne prairie 58%                 gas       mcf         806730.0
29520     lange ct facility                 gas       mcf         104554.0
29521       wygen 3 bhp 52%                coal       ton         315945.0
29522       wygen 3 bhp 52%                 gas       mcf          17853.0

       fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0                   16.590                      18.59
1                   16.592                      18.58
2                   24.130                      39.72
3                   23.950                      47.21
4                    1.000                       2.77
...                    ...                        ...
29518                1.059                       4.78
29519                1.050                       3.65
29520                1.060                       4.77
29521               16.108                       3.06
29522                1.059                       0.00

       fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                             18.53                1.121
1                             18.53                1.120
2                             38.12                1.650
3                             45.99                1.970
4                              2.77                2.570
...                             ...                  ...
29518                          4.78                9.030
29519                          3.65                6.950
29520                          4.77                8.990
29521                         14.76                1.110
29522                          0.00               11.680

[29523 rows x 11 columns]
fuel_type_code_pudl
coal        8547
gas        11486
nuclear      818
oil         8064
other        167
waste        441
Name: fuel_type_code_pudl, dtype: int64
                     fuel_cost_per_unit_burned  fuel_type_code_pudl
fuel_type_code_pudl
coal                                      8547                 8547
gas                                      11486                11486
nuclear                                    818                  818
oil                                       8064                 8064
other                                      167                  167
waste                                      441                  441
7733
record_id                       f1_fuel_2000_12_194_3_3
utility_id_ferc1                                    194
report_year                                        2000
plant_name_ferc1                    nelson dewey unit 2
fuel_type_code_pudl                               waste
fuel_unit                                           ton
fuel_qty_burned                                    39.0
fuel_mmbtu_per_unit                              0.0155
fuel_cost_per_unit_burned                       -276.08
fuel_cost_per_unit_delivered                    -174.67
fuel_cost_per_mmbtu                              -8.906
Name: 7733, dtype: object

<ipython-input-101-cbcbf23ca1a9>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned','fuel_type_code_pudl'].count())